TaskMgmt/TaskMgmt.UI/Connected Services/MaterialServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/TaskMgmt.WcfService/MaterialService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ManufacturerCode" type="xs:int" />
      <xs:element minOccurs="0" name="Partnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="UniteOfIssue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
</xs:schema>