TaskMgmt/TaskMgmt.UI/Connected Services/TaskMaterialUsageServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/TaskMgmt.WcfService/TaskMaterialUsageService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" />
  <xs:element name="GetTaskMaterialUsages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMaterialUsagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" minOccurs="0" name="GetTaskMaterialUsagesResult" nillable="true" type="q1:ArrayOfTaskMaterialUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMaterialUsagesByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMaterialUsagesByTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" minOccurs="0" name="GetTaskMaterialUsagesByTaskIdResult" nillable="true" type="q2:ArrayOfTaskMaterialUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskMaterialUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" minOccurs="0" name="taskMaterialUsage" nillable="true" type="q3:TaskMaterialUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskMaterialUsageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskMaterialUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TaskMgmt.Model" minOccurs="0" name="taskMaterialUsage" nillable="true" type="q4:TaskMaterialUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskMaterialUsageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskMaterialUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskMaterialUsageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>